body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f6fa;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #9a96ed;
  padding: 12px 20px;
}

.nav-left a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: 500;
}

.nav-left a:hover {
  text-decoration: underline;
}

.logout-btn {
  background: white;
  color:#9a96ed;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #e0e7ff;
}

/* CENTER CARD */
.container {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.card button {
  width: 100%;
  padding: 10px;
  background: #9a96ed;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.card button:hover {
  background: #a9a3e9;
}